<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/635914e016.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/body.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/error.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="svg/Logo-4Coders.svg" type="image/x-icon">
        <link
            href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Staatliches&display=swap"
            rel="stylesheet">
        <title>4Coders | Error 404</title>
    </head>
<body>
    <header>
        <nav>
            <a href="/"><img src="/svg/undraw_Coding_re_iv62.svg" alt=""></a>
            <ul id="links">
                <li><a class="btns" href="/register">Sign up</a></li>
                <li><a class="btns" href="#info">Info</a></li>
                <li><a class="btns" href="#team-coders">Team</a></li>
                <li><a class="btns" href="#">Contact us</a></li>
            </ul>
            <button class="burguer-menu" id="links">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
    </header>
    <main id="main-error">
        <figure>
            <img src="/svg/404-error.svg" alt="">
        </figure>
        
        <figure>
            <img src="/svg/ovni.svg" alt="">
        </figure>
            <a href="/">Back to <span>Home</span></a>
    </main>
    <footer>
        <section class="info-footer">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </section>
        <hr>
        <section class="info-footer">
            <form action="">
                <input type="text" placeholder="Leave us your comment">
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
        </section>
        <hr>
        <section class="info-footer">
            <h3>&copy; <span> 4Coders </span> We make rules</h3>
        </section>
    </footer>
</body>
<script src="/js/main.js"></script>
</html>