<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/635914e016.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/body.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="svg/Logo-4Coders.svg" type="image/x-icon">
        <link
            href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Staatliches&display=swap"
            rel="stylesheet">
        <title>4Coders | Log In</title>
    </head>
<body>
    <article class="pre-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </article>
    <header>
        <nav>
            <a href="/"><img src="/svg/undraw_Coding_re_iv62.svg" alt=""></a>
            <ul id="links">
                <li><a class="btns" href="/register">Sign up</a></li>
                <li><a class="btns" href="#">Contact us</a></li>
            </ul>
            <button class="burguer-menu" id="links">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
    </header>
    <main id="main-login">
        <section>
            <figure>
                <h1>Log-In</h1>
                <img src="/img/coder-log-in.jpg" alt="">
            </figure>
            <form action="">
                <label>
                    <i class="fas fa-user"></i><input type="text" class="input-float"><p class="placeholder">Name and Subname</p><span></span>
                </label>
                <label>
                    <i class="fas fa-envelope"></i><input type="email" class="input-float"><p class="placeholder">Email</p><span></span>
                </label>
                <label>
                    <i class="fas fa-lock"></i><input type="password" class="password input-float" ><p>Password</p><button type="button" class="btn-eye"><i class="fas fa-eye"></i></button>
                </label>
                <section id="buttons-login">
                    <button type="reset" class="buttons-login"><i class="fas fa-trash"></i></button>
                    <button type="submit" class="buttons-login"><i class="fas fa-sign-in-alt"></i></button>
                </section>
            </form>
        </section>
        <h2>If you don't have an account<a href="/register">Sign Up</a></h2>
    </main>
    <footer>
        <section class="info-footer">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </section>
        <hr>
        <section class="info-footer">
            <form action="">
                <input type="text" placeholder="Leave us your comment">
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
        </section>
        <hr>
        <section class="info-footer">
            <h3>&copy; <span> 4Coders </span> We make rules</h3>
        </section>
    </footer>
</body>
<script src="/js/main.js"></script>
<script src="/js/form.js"></script>
</html>